<!DOCTYPE html>
<html>
<body>

	<div id="demo">
		<h1>The XMLHttpRequest Object</h1>
		<button type="button" onclick="loadDoc()">Change Content</button>
	</div>

	<script>
		function loadDoc() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var obj = JSON.parse(this.responseText);
					// obj["id"];
					document.getElementById("demo").innerHTML = obj[0]["id"];
				}
			};
			xhttp.open("GET", "http://127.0.0.1:8000/songs/", true);
			xhttp.send();
		}
	</script>
</body>
</html>